<div class="row basic-setup">
     <h1 class="banner">Green Reference</h1>
</div>

<div class="welcome-info">
	<p>Bienvenido a <b style="color:green;">Green Reference</b>, aquí encontrarás una guía rápida sobre los distintos tipos de árboles, semillas, y flores que existen. Si conoces alguna especie que no esté aún listada aquí, te invitamos a que la agreges y contribuyas con tu conocimiento a formar una guía más completa</p>
</div>