<div class="row basic-setup">
     <h1 class="banner">Green Reference</h1>
</div>

<div class="welcome-info">
	<p>Bienvenido a <b style="color:green;">Green Reference</b></p>
	<p> Si estás por comenzar un huerto, ya tienes uno y quieres mejorarlo, o sólo tienes curiosidad de saber sobre plantas, estás en el lugar correcto. Aquí encontrarás una guía rápida sobre los distintos tipos de árboles, flores, y hortalizas que existen. <br /><br />
	Los huertos familiares han crecido en popularidad durante los últimos años, ya que aparte de proveer a tu familia con frutas y vegetales más frescos y con más nutrientes, traen beneficios económicos, físicos, psicológicos y sociales a tu familia y comunidad.
	Si conoces alguna especie que no esté aún listada aquí, te invitamos a que la agregues y contribuyas con tu conocimiento a formar una guía más completa.</p></br />
</div>