// Place all the styles related to the Species controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.control-group{
	font-weight: bold;
	margin-top: 15px;
	margin-left: 10px;
}

.form-actions{
	margin-left: 10px;
}